////
//
// BASE THEME
//
////

////
// Colors
////

// Definitions

$white: "#fff";
$black: "#000";
$red: "#bf2026";
$altRed: "#EF4446";
$hoverRed: rgb(158, 28, 32);
$transparentBlack: rgba(0, 0, 0, 0.7);

// Categorizations

$primary: $black; //foreground
$secondary: $white; //background
$tertiary: $red;

@import 'common';