// Assignments

$h1Color: $primary;
$h2Color: $primary;
$h3Color: $quaternary;
$h4Color: $primary;
$h5Color: $primary;
$pColor: $primary;
$aColor: $primary;
$buttonForeground: $secondary;
$fauxButtonBackground: $secondary;

$h1Background: $tertiary;
$h2Background: $tertiary;
$h3Background: $tertiary;
$h4Background: $tertiary;
$h5Background: $tertiary;
$pBackground: $tertiary;
$aBackground: $tertiary;
$aHoverBackground: $tertiary;
$buttonBackground: $tertiary;
$fauxButtonBackground: transparent;
$buttonHoverBackground: $hoverRed;

////
// Fonts
////

$primaryFont: 'Raleway', sans-serif;

$h1Font: $primaryFont;
$h2Font: $primaryFont;
$h3Font: $primaryFont;
$h4Font: $primaryFont;
$h5Font: $primaryFont;
$aFont: $primaryFont;
$pFont: $primaryFont;
$buttonFont: $primaryFont;

////
// Sizes
////
$xXLargeFont: 4.25rem;
$xLargeFont: 3rem;
$largeFont: 2.5rem;
$mediumFont: 2rem;
$smallFont: 1.5rem;
$smallerFont: 1.25rem;
$xSmallFont: 1rem;
$xXSmallFont: .75rem;

$h1FontSizeMobile: $xLargeFont;
$h1FontSizeDesktop: $xXLargeFont;
$h2FontSizeMobile: $mediumFont;
$h2FontSizeDesktop: $mediumFont;
$h3FontSizeMobile: $smallerFont;
$h3FontSizeDesktop: $smallFont;
$h4FontSizeMobile: $largeFont;
$h4FontSizeDesktop: $largeFont;
$h5FontSizeMobile: $xSmallFont;
$h5FontSizeDesktop: $xSmallFont;
$pFontSizeMobile: $smallFont;
$pFontSizeDesktop: $smallFont;
$aFontSizeMobile: $smallerFont;
$aFontSizeDesktop: $smallFont;
$buttonFontSizeMobile: $smallFont;
$buttonFontSizeDesktop: $smallFont;

////
// Weights
////

$h1Weight: "900";
$h2Weight: "700";
$h3Weight: "600";
$h4Weight: "300";
$h5Weight: "300";
$pWeight: "300";
$aWeight: "500";
$buttonWeight: "bold";

$copyMarginBottom: 3rem;
$sectionPaddingY: 1em;
$sectionPaddingX: 1em;
$mobileWidth: 95%;
$contentWidth: 65%;
$contentMax: 50em;
$logoListMax: 25em;
$contentMaxConstained: 31em;
$smallLineHeight: 1.2;
$lineHeight: 1.5;

//
// Buttons
//
$buttonBorder: none;