.pagination {
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

.pagination li{
  padding: 0.75em;
}

.pagination li.active {
  color: #bf2026;
}

.slider-list {
  max-height:500px;
}

.slider-decorator-0 {
  left: -20px !important;
}

.slider-decorator-1 {
  right: -20px !important;
}

.blur {
  filter: blur(4px);
}

@media only screen and (min-width: 500px) {
  .pagination {
    font-size: 2em;
  }

  .slider-list {
    max-height:none;
  }

  .slider-decorator-1 {
    right: 0 !important;
  }
  .slider-decorator-0 {
    left: 0px !important;
  }
}

