////
//
// BASE THEME
//
////

////
// Colors
////

// Definitions

$white: "#fff";
$black: "#000";
$green: "#1cb841";
$transparentBlack: rgba(0, 0, 0, 0.7);

// Categorizations

$primary: $white;
$secondary: $black;
$tertiary: $green;

// Assignments

$h1Color: $primary;
$h2Color: $secondary;
$h3Color: $primary;
$h4Color: $primary;
$h5Color: $primary;
$pColor: $secondary;
$aColor: $primary;
$buttonColor: $primary;

$h1Background: $tertiary;
$h2Background: $tertiary;
$h3Background: $tertiary;
$h4Background: $tertiary;
$h5Background: $tertiary;
$pBackground: $tertiary;
$aBackground: $tertiary;
$aHoverBackground: $tertiary;
$buttonBackground: $secondary;
$buttonHoverBackground: $tertiary;

////
// Fonts
////

$primaryFont: "source-sans-pro, sans-serif";
$secondaryFont: "open-sans-pro";

$h1Font: $primaryFont;
$h2Font: $primaryFont;
$h3Font: $primaryFont;
$h4Font: $primaryFont;
$h5Font: $primaryFont;
$aFont: $primaryFont;
$pFont: $primaryFont;
$buttonFont: $primaryFont;

////
// Sizes
////

$xLargeFont: 3rem;
$largeFont: 2.5rem;
$mediumFont: 2rem;
$smallFont: 1.5rem;
$smallerFont: 1.25rem;
$xSmallFont: 1rem;
$xXSmallFont: .75rem;

$h1FontSizeMobile: $mediumFont;
$h1FontSizeDesktop: $xLargeFont;
$h2FontSizeMobile: $smallerFont;
$h2FontSizeDesktop: $smallFont;
$h3FontSizeMobile: $smallFont;
$h3FontSizeDesktop: $mediumFont;
$h4FontSizeMobile: $largeFont;
$h4FontSizeDesktop: $largeFont;
$h5FontSizeMobile: $xSmallFont;
$h5FontSizeDesktop: $xSmallFont;
$pFontSizeMobile: $smallerFont;
$pFontSizeDesktop: $smallerFont;
$aFontSizeMobile: $smallerFont;
$aFontSizeDesktop: $smallFont;
$buttonFontSizeMobile: $smallerFont;
$buttonFontSizeDesktop: $smallerFont;

////
// Weights
////

$h1Weight: "600";
$h2Weight: "600";
$h3Weight: "300";
$h4Weight: "300";
$h5Weight: "300";
$pWeight: "300";
$aWeight: "500";
$buttonWeight: "500";

$sectionPaddingY: 1em;
$sectionPaddingX: 1em;
$contentWidth: 65%;
$contentMax: 50em;
$logoListMax: 25em;
$contentMaxConstained: 31em;
$lineHeight: 1.5;